<div class="container-4">
    <div class="inner-1">
        <div class="inner-1-column">
            <div class="logo">
                <img src="/assets/Group 86.svg" alt="Chicago Medical" loading="lazy" />
            </div>
            <div class="description">
                A Better Weigh Medical Weight Loss Center offers a weight loss program dedicated to
                helping you achieve long term weight loss success with the use of FDA approved
                medication.
            </div>
            <div class="contact-info">
                <img
                    class="contact-logo"
                    src="/assets/location.png"
                    alt="Phone Logo"
                    loading="lazy"
                />
                <span>Head Office:</span> 1931 W 95th Streeet Chicago IL, 60643
            </div>
            <div class="contact-info">
                <img
                    class="contact-logo"
                    src="/assets/telephone.svg"
                    alt="Phone Logo"
                    loading="lazy"
                />
                <span>Phone: </span>773-496-4222
            </div>
        </div>

        <div class="inner-1-column">
            <div class="about-header">About</div>
            <div class="link">About Us</div>
            <div class="link">Book Online</div>
            <div class="link">Locations</div>
            <div class="link">Real Patient Stories</div>
            <div class="link">Weight Loss Programs</div>
        </div>

        <div class="inner-1-column">
            <div class="links-header">More Links</div>
            <div class="link">Franchise Opportunities</div>
            <div class="link">Career Opportunities</div>
            <div class="link">Privacy Policy</div>
            <div class="link">Terms & Conditions</div>
        </div>
    </div>
    <div class="inner-2">
        <div class="social-network-logos">
            <img src="/assets/social-network.png" alt="Social Networks Logo" loading="lazy" />
        </div>
        <div class="copyright">Copyright by A Better Weigh Inc. All rights reserved.</div>
    </div>
    <half-circle id="contact-container"></half-circle>
    <full-circle id="contact-container"></full-circle>
</div>
