<div class="container">
    <div class="inner-1">
        <div class="inner-1__column-1">
            <div class="column-1__chicago-logo">
                <img src="/assets/chicago-medical.png" alt="Chicago Medical" loading="lazy" />
            </div>
            <div class="column-1__description">
                A Better Weigh Medical Weight Loss Center offers a weight loss program dedicated to
                helping you achieve long term weight loss success with the use of FDA approved
                medication.
            </div>
            <div class="column-1__contact-info">
                <img src="/assets/location.png" alt="Phone Logo" loading="lazy" />
                <div><span>Head Office:</span> 1931 W 95th Street Chicago IL, 60643</div>
            </div>
            <div class="column-1__contact-info">
                <img src="/assets/telephone.svg" alt="Phone Logo" loading="lazy" />
                <div><span>Phone: </span>773-496-4222</div>
            </div>
        </div>

        <div class="inner-1__column-2">
            <div class="column-2__sub-column">
                <div>
                    <div class="column-2-sub__header">About</div>
                    <div class="column-2-sub__link">About Us</div>
                    <div class="column-2-sub__link">Book Online</div>
                    <div class="column-2-sub__link">Locations</div>
                    <div class="column-2-sub__link">Real Patient Stories</div>
                    <div class="column-2-sub__link">Weight Loss Programs</div>
                </div>
                <div>
                    <div class="column-2-sub__header">More Links</div>
                    <div class="column-2-sub__link">Franchise Opportunities</div>
                    <div class="column-2-sub__link">Career Opportunities</div>
                    <div class="column-2-sub__link">Privacy Policy</div>
                    <div class="column-2-sub__link">Terms & Conditions</div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-2">
        <div class="inner-2_logos">
            <img src="/assets/social-network.png" alt="Social Networks Logo" loading="lazy" />
        </div>
        <div class="inner-2__copyright">Copyright by A Better Weigh Inc. All rights reserved.</div>
    </div>
    <half-circle class="contact-component"></half-circle>
    <full-circle class="contact-component"></full-circle>
</div>
