<div class="container-1" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
    <div class="container-1" style="background: #f9f9f9">
        <div class="inner-1">
            <div class="inner-1-text">
                <span>Chicago’s </span><span class="free-span">Free</span
                ><span> Medical Check-Up and Weight Loss Consultation</span>
            </div>
            <count-down></count-down>
            <div class="inner-1-description">
                Limited spots available due to the Physicians schedule and the high demand for
                service. No credit card or insurance required.
            </div>
            <book-appointment class="info-container"></book-appointment>
        </div>
        <half-circle class="info-container"></half-circle>
        <full-circle class="info-container"></full-circle>
        <div class="inner-2"></div>
    </div>
</div>
