<div class="container-1" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
    <div class="container-1" style="background: #f9f9f9"></div>
    <div class="inner-1"></div>
    <full-circle id="info-container"></full-circle>
    <half-circle id="info-container"></half-circle>
    <count-down></count-down>
    <div class="inner-2">
        <span class="inner-2-description">Chicago’s </span
        ><span class="inner-2-description free-span">Free</span
        ><span class="inner-2-description"> Medical Check-Up and Weight Loss Consultation</span>
    </div>
    <book-appointment id="info-container"></book-appointment>
    <div class="inner-4-description">
        Limited spots available due to the Physicians schedule and the high demand for service. No
        credit card or insurance required.
    </div>
</div>
