<div class="container">
    <div class="inner-1">
        <div class="inner-1__text" id="innerText">
            <span>Chicago’s </span><span class="free-span">Free</span
            ><span> Medical Check-Up and Weight Loss Consultation</span>
        </div>
        <count-down></count-down>
        <div class="inner-1__description">
            Limited spots available due to the Physicians schedule and the high demand for service.
            No credit card or insurance required.
        </div>
        <book-appointment class="info-component"></book-appointment>
    </div>
    <half-circle class="info-component"></half-circle>
    <full-circle class="info-component"></full-circle>
    <div class="inner-2"></div>
</div>
