.book-appointment {
    padding: 10px 14px;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.book-appointment-title {
    text-align: center;
    color: var(--COLOR-WHITE);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.book-appointment.info-container {
    margin-top: 10%;
    background: #dd71c6;
}

.book-appointment.stats-container {
    position: absolute;
    left: 44%;
    top: 85%;
    background: #ffd900;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.book-appointment.faqs-container {
    margin-top: 60px;
    background: #dd71c6;
}

@media only screen and (max-width: 1500px) {
    .book-appointment-title {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1100px) {
    .book-appointment-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 450px) {
    .book-appointment.faqs-container {
        margin-top: 30px;
    }
    .book-appointment.stats-container {
        left: 30%;
    }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 350px) {
}
