.book-appointment {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}
.book-appointment-title {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.book-appointment.info-container {
    left: 22%;
    bottom: 14%;
    background: #dd71c6;
}

.book-appointment.stats-container {
    left: 853px;
    top: 85%;
    background: #ffd900;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.book-appointment.faqs-container {
    margin-top: 60px;
    left: 45%;
    background: #dd71c6;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
