.count-down-container {
    padding: 38px 38px;
    right: 18%;
    top: 27%;
    width: 30%;
    position: absolute;
    background: linear-gradient(
        108deg,
        rgba(255, 255, 255, 0.51) 0%,
        rgba(255, 255, 255, 0.49) 100%
    );
    border-radius: 50px;
    backdrop-filter: blur(67px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.count-down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;
}

.count-down-title {
    /* width: 50%; */
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 28.51px;
    word-wrap: break-word;
}

.count-down-items-container {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 39px;
    display: inline-flex;
}

.count-down-item-inner-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    display: inline-flex;
}

.count-down-item-title-container {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.count-down-item-title {
    text-align: center;
    color: rgb(0, 131, 211);
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 32.02px;
    letter-spacing: 5.85px;
    word-wrap: break-word;
}

.count-down-item-value {
    text-align: center;
    color: #333333;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 88.95px;
    word-wrap: break-word;
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
