.container {
    width: 100%;
    height: auto;
    left: 100%;
    top: 0;
    padding: 38px 38px;
    position: absolute;
    background: linear-gradient(
        108deg,
        rgba(255, 255, 255, 0.51) 0%,
        rgba(255, 255, 255, 0.49) 100%
    );
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    backdrop-filter: blur(67px);
    gap: 10px;
}

.inner-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.inner-1-title {
    text-align: center;
    color: #333333;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

.inner-1-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 39px;
    display: inline-flex;
}

.inner-2-item-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
}

.inner-2-title {
    text-align: center;
    color: rgb(0, 131, 211);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 6px;
    word-wrap: break-word;
}

.inner-2-value {
    text-align: center;
    color: #333333;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 88px;
    word-wrap: break-word;
}
@media only screen and (max-width: 1480px) {
    .container {
        margin-left: 5%;
    }
    .inner-1 {
        gap: 40px;
    }
    .inner-1-title {
        font-size: 20px;
        line-height: 20px;
    }
    .inner-1-items {
        gap: 30px;
    }
    .inner-2-item-container {
        gap: 30px;
    }
    .inner-2-title {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 4.5px;
    }
    .inner-2-value {
        font-size: 45px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 1050px) {
    .inner-1 {
        gap: 30px;
    }
    .inner-1-title {
        font-size: 18px;
        line-height: 18px;
    }
    .inner-1-items {
        gap: 18px;
    }
    .inner-2-item-container {
        gap: 15px;
    }
    .inner-2-title {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 3.5px;
    }
    .inner-2-value {
        font-size: 37px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 780px) {
    .container {
        margin-left: 0;
        position: relative;
        width: 75%;
        left: 0%;
        backdrop-filter: blur(40px);
    }
    .inner-1-title {
        font-size: 15px;
        line-height: 18px;
    }
    .inner-1-items {
        gap: 10px;
    }
    .inner-2-title {
        font-size: 13px;
        line-height: 15px;
    }
    .inner-2-value {
        font-size: 30px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 440px) {
    .container {
        padding: 30px 38px;
        margin-left: 8%;
        width: 65%;
        border-radius: 40px;
    }
    .inner-2-value {
        font-size: 25px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 390px) {
    .container {
        margin-left: 10%;
        width: 60%;
    }
    .inner-1-items {
        gap: 7px;
    }
    .inner-2-title {
        font-size: 11px;
        line-height: 13px;
    }
    .inner-2-value {
        font-size: 22px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 340px) {
}
