.menu-container {
    position: relative;
}
.menu-btn {
    z-index: 2;
    display: none;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav-bar {
    height: 10%;
    z-index: 1;
    position: fixed;
    padding-top: 3%;
    right: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}
.group-86 {
    width: 138px;
    height: 62.09px;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 10%;
}
.scrolled {
    backdrop-filter: blur(15px);
    background-color: rgba(229, 229, 229, 0.5);
}
.nav-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.nav-li__item {
    display: block;
}

.nav-li__anchor {
    text-decoration: none;
}
.nav-li__title {
    border-radius: 25%;
    padding: 10px;
    color: #333333;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    position: relative;
}
.nav-li__title:hover {
    color: rgb(0, 131, 211);
}

.nav-li__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
}

.nav-li__title:hover::after {
    transform: scaleX(1);
    transition: transform 0.1s, background-color 0.3s;
}

@media only screen and (max-width: 1440px) {
    .group-86 {
        left: 8%;
    }
    .nav-ul {
        margin-left: 10%;
        gap: 10px;
    }

    .nav-li__title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    .group-86 {
        width: 118px;
        height: 55px;
        top: 18px;
        left: 3%;
    }
    .nav-ul {
        margin-left: 10%;
        gap: 0px;
    }

    .nav-li__title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        display: none;
    }

    .menu-btn {
        display: block;
        position: fixed;
        right: 2%;
        top: 3%;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .nav-ul {
        display: none;
        /* need to make this work */
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-ul.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        position: absolute;
        border-radius: 10%;
        top: 50%;
        padding: 20px 20px;
        right: 0;
        width: 22%;
        backdrop-filter: blur(15px);
        background-color: rgba(229, 229, 229, 0.5);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        gap: 20px;
        z-index: 2;
    }

    .nav-li__item {
        margin-top: 10px;
        font-size: 15px;
    }
    .nav-menu.active .nav-ul {
        display: flex;
    }
    .nav-bar.active {
        display: block;
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
