.menu-container {
    position: relative;
    z-index: 3;
}
.menu-btn {
    z-index: 2;
    display: none;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.nav-bar {
    height: 10%;
    z-index: 1;
    position: fixed;
    padding-top: 3%;
    right: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}
.logo-container {
    position: fixed;
    z-index: 2;
    top: 25px;
    left: 10%;
}
.logo-container img {
    width: 170px;
    height: auto;
}
.scrolled {
    backdrop-filter: blur(15px);
    background-color: rgba(229, 229, 229, 0.5);
}
.nav-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    z-index: 3;
}
.nav-li__item {
    display: block;
}

.nav-li__anchor {
    text-decoration: none;
}
.nav-li__title {
    border-radius: 25%;
    padding: 10px;
    color: #333333;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    position: relative;
}
.nav-li__title:hover {
    color: rgb(0, 131, 211);
}

.nav-li__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
}

.nav-li__title:hover::after {
    transform: scaleX(1);
    transition: transform 0.1s, background-color 0.3s;
}

@media only screen and (max-width: 1500px) {
    .logo-container {
        left: 8%;
    }
    .logo-container img {
        width: 140px;
    }
    .nav-ul {
        margin-left: 10%;
        gap: 10px;
    }

    .nav-li__title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1100px) {
    .logo-container {
        top: 18px;
        left: 3%;
    }
    .logo-container img {
        width: 120px;
    }
    .nav-ul {
        gap: 0px;
    }

    .nav-li__title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .menu-btn {
        display: block;
        position: fixed;
        right: 4%;
        top: 5%;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .nav-bar {
        visibility: collapse;
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }
    .nav-bar.active {
        visibility: visible;
        opacity: 1;
    }

    .logo-container {
        position: absolute;
    }

    .nav-ul {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 9%;
        right: 0;
        width: 22%;
        padding: 20px 20px;
        border-radius: 10%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        background-color: rgba(229, 229, 229, 0.5);
        backdrop-filter: blur(15px);
        gap: 25px;
        max-height: 0;
        transition: max-height 0.3s ease-in;
    }
    .nav-ul.active {
        max-height: 100%;
    }

    .nav-li__item {
        margin-top: 10px;
        font-size: 15px;
    }
    .menu-btn img.stats-color-change {
        filter: brightness(0) invert(1);
    }
    .menu-btn img.faqs-color-change {
        filter: brightness(5) invert(1);
    }
}

@media only screen and (max-width: 450px) {
    .menu-btn {
        right: 3%;
    }
    .nav-ul {
        width: 35%;
        padding: 20px 10px;
        border-radius: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .menu-btn {
        right: 2%;
    }
    .nav-ul {
        width: 40%;
    }
}

@media only screen and (max-width: 550px) {
}
