.full-circle {
    z-index: 0;
    position: absolute;
    border-radius: 9999px;
    border: 28px var(--COLOR-WHITE) solid;
}
.full-circle.info-container {
    width: 386px;
    height: 386px;
    left: -91px;
    top: 187px;
}

.full-circle.stats-container {
    width: 185px;
    height: 185px;
    left: 118px;
    top: 156px;
    opacity: 0.15;
}

.full-circle.faqs-container {
    width: 239px;
    height: 239px;
    left: 1600px;
    top: 107px;
    border: 28px var(--COLOR-LIGHT-GRAY) solid;
    opacity: 0.1;
}

.full-circle.contact-container {
    width: 230px;
    height: 230px;
    left: 1%;
    top: 30%;
    border: 28px var(--COLOR-LIGHT-GRAY) solid;
    opacity: 0.1;
}
@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
