.half-circle {
    z-index: 1;
    position: absolute;
    opacity: 0.15;
    border-radius: 9999px;
    border: 28px var(--COLOR-WHITE) solid;
}

.half-circle.info-container {
    width: 50%;
    height: 60%;
    left: 90%;
    top: 15%;
}

.half-circle.stats-container {
    width: 15%;
    height: 50%;
    right: -10%;
    top: 15%;
}

.half-circle.faqs-container {
    width: 25%;
    height: 40%;
    left: -10%;
    top: 27%;
    border: 28px var(--COLOR-LIGHT-GRAY) solid;
}

.half-circle.contact-container {
    width: 20%;
    height: 60%;
    right: -12%;
    top: 1%;
    border: 28px var(--COLOR-LIGHT-GRAY) solid;
}
@media only screen and (max-width: 1500px) {
    .half-circle {
        border: 23px var(--COLOR-WHITE) solid;
    }
    .half-circle.info-container {
        height: 50%;
    }
    .half-circle.stats-container {
        top: 20%;
        height: 38%;
    }
    .half-circle.faqs-container {
        height: 35%;
        left: -12%;
        border: 23px var(--COLOR-LIGHT-GRAY) solid;
    }
    .half-circle.contact-container {
        height: 50%;
        right: -14%;
        border: 23px var(--COLOR-LIGHT-GRAY) solid;
    }
}

@media only screen and (max-width: 1100px) {
    .half-circle {
        border: 18px var(--COLOR-WHITE) solid;
    }
    .half-circle.info-container {
        top: 20%;
        left: 92%;
        height: 40%;
    }
    .half-circle.stats-container {
        right: -12%;
        top: 23%;
        height: 28%;
    }
    .half-circle.faqs-container {
        height: 25%;
        border: 18px var(--COLOR-LIGHT-GRAY) solid;
    }
}

@media only screen and (max-width: 800px) {
    .half-circle.info-container {
        top: 10%;
        left: 72%;
        width: 25%;
        height: 23%;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
