<div class="container">
    <div class="inner-1">
        <div class="inner-1__title">Your offer ends in:</div>
        <div class="inner-1__items-container">
            <div class="items-container__item">
                <div class="item-title">DAYS</div>
                <div id="days" class="item-value"></div>
            </div>
            <div class="items-container__item">
                <div class="item-title">HOURS</div>
                <div id="hours" class="item-value"></div>
            </div>
            <div class="items-container__item">
                <div class="item-title">MINUTES</div>
                <div id="minutes" class="item-value"></div>
            </div>
            <div class="items-container__item">
                <div class="item-title">SECONDS</div>
                <div id="seconds" class="item-value"></div>
            </div>
        </div>
    </div>
</div>
