<div class="container">
    <div class="inner-1">
        <div class="inner-1-title">Your offer ends in:</div>
        <div class="inner-1-items">
            <div class="inner-2-item-container">
                <div class="inner-2-title">DAYS</div>
                <div id="days" class="inner-2-value"></div>
            </div>
            <div class="inner-2-item-container">
                <div class="inner-2-title">HOURS</div>
                <div id="hours" class="inner-2-value"></div>
            </div>
            <div class="inner-2-item-container">
                <div class="inner-2-title">MINUTES</div>
                <div id="minutes" class="inner-2-value"></div>
            </div>
            <div class="inner-2-item-container">
                <div class="inner-2-title">SECONDS</div>
                <div id="seconds" class="inner-2-value"></div>
            </div>
        </div>
    </div>
</div>
