<div class="menu-container">
    <div class="nav-menu">
        <div class="menu-btn">
            <input class="checkbox" type="checkbox" />
            <div class="hamburger-lines" id="menuLines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
        <div class="logo-container">
            <img src="/assets/chicago-medical.png" alt="Chicago Medical" loading="lazy" />
        </div>
        <nav class="nav-bar" id="navBar"></nav>
    </div>
</div>
