<div class="menu-container">
    <div class="menu-btn">
        <label for="menuCheckbox">
            <input id="menuCheckbox" class="checkbox" type="checkbox" aria-label="Toggle Menu" />
            <div class="hamburger-lines" id="menuLines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </label>
    </div>
    <div class="logo-container">
        <img src="/assets/chicago-medical.png" alt="Chicago Medical" loading="lazy" />
    </div>
    <nav class="nav-bar" id="navBar"></nav>
</div>
