.container-4 {
    width: 100%;
    max-width: 1920px;
    height: auto;
    position: relative;
    overflow: hidden;
    background: rgb(247, 247, 247);
}

.inner-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 50px;
}

.inner-1-column {
    display: flex;
    flex-direction: column;
    text-align: start;
    z-index: 1;
    gap: 30px;
}
.inner-1-column-2 {
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 50px;
}
.chicago-logo {
    width: 50%;
}
.chicago-logo img {
    width: 180px;
    height: auto;
}
.description {
    max-width: 800px;
    color: #333333;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}
.contact-info {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 25px;
    word-wrap: break-word;
}

.contact-info span {
    font-weight: 600;
    color: black;
}

.links-header,
.link {
    width: 100%;
    position: relative;
    color: #333333;
    font-family: Montserrat;
    word-wrap: break-word;
}

.links-header {
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 20px;
}

.link {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    padding: 5% 0;
    white-space: nowrap;
}
.inner-2 {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    margin: 3% 0;
}

.contact-logo {
    width: 30px;
    height: auto;
}

.social-network-logos {
    position: relative;
}
.social-network-logos img {
    width: 162px;
    height: auto;
}
.copyright {
    z-index: 1;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
}
@media only screen and (max-width: 1500px) {
    .inner-1 {
        gap: 40px;
    }
    .inner-1-column {
        gap: 20px;
    }
    .inner-1-column-2 {
        gap: 30px;
    }
    .chicago-logo img {
        width: 160px;
    }
    .description {
        max-width: 600px;
        font-size: 18px;
        line-height: 23px;
    }
    .contact-info {
        font-size: 18px;
        line-height: 20px;
    }
    .links-header {
        font-size: 20px;
        line-height: 20px;
    }
    .link {
        font-size: 16px;
        line-height: 22px;
    }
    .inner-2 {
        gap: 40px;
    }
    .contact-logo {
        width: 22px;
    }
    .social-network-logos img {
        width: 122px;
    }
    .copyright {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .inner-1 {
        gap: 30px;
    }
    .inner-1-column {
        gap: 15px;
    }
    .inner-1-column-2 {
        gap: 20px;
    }
    .chicago-logo img {
        width: 130px;
    }
    .description {
        max-width: 400px;
        font-size: 17px;
        line-height: 20px;
    }
    .contact-info {
        font-size: 16px;
        line-height: 18px;
    }

    .link {
        line-height: 18px;
    }
    .inner-2 {
        gap: 30px;
    }
    .contact-logo {
        width: 20px;
    }
    .social-network-logos img {
        width: 112px;
    }
    .copyright {
        font-size: 15px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .inner-1 {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 8%;
    }
    .inner-1-column-2 {
        gap: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .inner-1 {
        width: 75%;
        padding-left: 5%;
        gap: 50px;
    }
    .inner-1-column {
        gap: 50px;
    }
    .contact-logo {
        width: 18px;
        height: 28px;
    }
    .contact-info div {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    .inner-1-column-2 {
        flex-direction: column;
        gap: 50px;
    }
    .inner-2 {
        width: 75%;
        flex-direction: column;
        padding-left: 5%;
        gap: 15px;
        margin: 5% 0;
    }
    .link {
        line-height: 28px;
    }
}

@media only screen and (max-width: 400px) {
    .inner-1 {
        gap: 40px;
    }
    .inner-1-column,
    .inner-1-column-2 {
        gap: 35px;
    }
}

@media only screen and (max-width: 350px) {
    .inner-1 {
        gap: 35px;
    }
    .inner-1-column,
    .inner-1-column-2 {
        gap: 30px;
    }
}
