.container-4 {
    width: 100%;
    max-width: 1920px;
    height: 654px;
    left: 0px;
    top: 2246px;
    position: absolute;
}

.inner-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 100px;
    gap: 50px;
}

.inner-1-column {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.logo {
    margin-bottom: 10px;
}
.logo img {
    width: 180px;
    height: auto;
}
.description {
    width: 70%;
    max-width: 800px;
    margin: 20px 0;
    color: #333333;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}
.contact-info {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 25px;
    word-wrap: break-word;
}

.contact-info span {
    font-weight: 600;
    color: black;
}
.links-header,
.about-header,
.link {
    width: 100%;
    position: relative;
    color: #333333;
    font-family: Montserrat;
    word-wrap: break-word;
}

.links-header,
.about-header {
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 10px;
}

.link {
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    white-space: nowrap;
}

.contact-logo {
    width: 26px;
    height: auto;
}

.social-network-logos {
    position: absolute;

    left: 18%;
    bottom: 10%;
}
.social-network-logos img {
    width: 162px;
    height: auto;
}
.copyright {
    position: absolute;
    right: 18%;
    bottom: 10%;
    font-size: 19px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 15px;
}
@media only screen and (max-width: 1500px) {
    .inner-1 {
        gap: 10px;
    }
    .logo img {
        width: 160px;
    }
    .description {
        font-size: 20px;
        line-height: 25px;
    }
    .contact-info {
        font-size: 20px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
