.container {
    width: 100%;
    max-width: 1920px;
    height: auto;
    position: relative;
    overflow: hidden;
    background: rgb(247, 247, 247);
}

.inner-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 50px;
}

.inner-1__column-1,
.inner-1__column-2 {
    display: flex;
    flex-direction: column;
    text-align: start;
    z-index: 1;
    gap: 30px;
}
.column-2__subcolumn {
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 50px;
}
.column-1__chicago-logo {
    width: 50%;
}
.column-1__chicago-logo img {
    width: 180px;
    height: auto;
}
.column-1__description {
    max-width: 800px;
    color: #333333;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}
.column-1__contact-info {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 25px;
    word-wrap: break-word;
}

.column-1__contact-info span {
    font-weight: 600;
    color: black;
}

.column-2-sub__column-2-sub__header,
.column-2-sub__link {
    width: 100%;
    position: relative;
    color: #333333;
    font-family: Montserrat;
    word-wrap: break-word;
}

.column-2-sub__column-2-sub__header {
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 20px;
}

.column-2-sub__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    padding: 5% 0;
    white-space: nowrap;
}
.inner-2 {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    margin: 3% 0;
}

.column-1__contact-info img {
    width: 30px;
    height: auto;
}

.inner-2_logos {
    position: relative;
}
.inner-2_logos img {
    width: 162px;
    height: auto;
}
.inner-2__copyright {
    z-index: 1;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
}
@media only screen and (max-width: 1480px) {
    .inner-1 {
        gap: 40px;
    }
    .inner-1__column-1,
    .inner-1__column-2 {
        gap: 20px;
    }
    .column-2__subcolumn {
        gap: 30px;
    }
    .column-1__chicago-logo img {
        width: 160px;
    }
    .column-1__description {
        max-width: 600px;
        font-size: 18px;
        line-height: 23px;
    }
    .column-1__contact-info {
        font-size: 18px;
        line-height: 20px;
    }
    .column-2-sub__column-2-sub__header {
        font-size: 20px;
        line-height: 20px;
    }
    .column-2-sub__link {
        font-size: 16px;
        line-height: 22px;
    }
    .inner-2 {
        gap: 40px;
    }
    .column-1__contact-info img {
        width: 22px;
    }
    .inner-2_logos img {
        width: 122px;
    }
    .inner-2__copyright {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    .inner-1 {
        gap: 30px;
    }
    .inner-1__column-1,
    .inner-1__column-2 {
        gap: 15px;
    }
    .column-2__subcolumn {
        gap: 20px;
    }
    .column-1__chicago-logo img {
        width: 130px;
    }
    .column-1__description {
        max-width: 400px;
        font-size: 17px;
        line-height: 20px;
    }
    .column-1__contact-info {
        font-size: 16px;
        line-height: 18px;
    }

    .column-2-sub__link {
        line-height: 18px;
    }
    .inner-2 {
        gap: 30px;
    }
    .column-1__contact-info img {
        width: 20px;
    }
    .inner-2_logos img {
        width: 112px;
    }
    .inner-2__copyright {
        font-size: 15px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 780px) {
    .inner-1 {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 8%;
    }
    .column-2__subcolumn {
        gap: 10px;
    }
}

@media only screen and (max-width: 440px) {
    .inner-1 {
        width: 75%;
        padding-left: 5%;
        gap: 50px;
    }
    .inner-1__column-1,
    .inner-1__column-2 {
        gap: 50px;
    }
    .column-1__contact-info img {
        width: 18px;
        height: 28px;
    }
    .column-1__contact-info div {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    .column-2__subcolumn {
        flex-direction: column;
        gap: 50px;
    }
    .column-2-sub__link {
        line-height: 28px;
    }

    .inner-2 {
        width: 75%;
        flex-direction: column;
        padding-left: 5%;
        gap: 15px;
        margin: 5% 0;
    }
}

@media only screen and (max-width: 390px) {
    .inner-1 {
        gap: 40px;
    }
    .inner-1__column-1,
    .inner-1__column-2,
    .column-2__subcolumn {
        gap: 35px;
    }
}

@media only screen and (max-width: 340px) {
    .inner-1 {
        gap: 35px;
    }
    .inner-1__column-1,
    .inner-1__column-2,
    .column-2__subcolumn {
        gap: 30px;
    }
}
