.container-3 {
    width: 100%;
    max-width: 1920px;
    height: 1150px;
    position: relative;
    background: var(--COLOR-WHITE);
    overflow: hidden;
}

.inner-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-1-title {
    color: #333333;
    font-size: 32px;
    font-family: Libre Baskerville;
    font-weight: 400;
    line-height: 51.2px;
    word-wrap: break-word;
    margin: 5%;
}

.inner-1-faqs-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.faq-container {
    width: 100%;
    padding: 2%;
    background: #f9f9f9;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.1s ease-in-out;
}

.faq-question {
    color: #333333;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word;
    margin-right: 10%;
    margin-left: 1%;
}

.faq-dropdown {
    position: absolute;
    top: 20px;
    right: 3%;
    cursor: pointer;
    border: none;
    background: none;
}

.faq-dropdown img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease-out;
}

.faq-answer {
    width: 90%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    font-family: Montserrat;
    font-style: italic;
    font-size: 22px;
    color: #555555;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.faq-container.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container.active .faq-answer {
    max-height: 10%;
    padding: 10px 15px;
    margin-top: 1%;
}

.faq-container.active .faq-dropdown img {
    transform: rotate(180deg);
}
@media only screen and (max-width: 1500px) {
    .container-3 {
        height: 980px;
    }
    .faq-question {
        font-size: 18px;
        line-height: 25px;
    }
    .faq-dropdown {
        top: 15px;
    }
    .faq-dropdown img {
        width: 27px;
        height: 27px;
    }
    .faq-answer {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1100px) {
    .container-3 {
        height: 840px;
    }
    .inner-1-faqs-container {
        width: 65%;
    }
    .faq-question {
        font-size: 18px;
        line-height: 20px;
    }
    .faq-dropdown img {
        width: 22px;
        height: 22px;
    }
    .faq-answer {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .faq-dropdown {
        top: 10px;
    }
    .faq-dropdown img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
