.container {
    width: 100%;
    max-width: 1920px;
    height: 760px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--COLOR-WHITE);
}

.inner-1 {
    width: 35%;
    height: auto;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 30px;
}
.inner-2 {
    width: 33%;
    height: 100%;
    position: relative;
    background: var(--COLOR-YELLOW);
    border-top-left-radius: 50px;
}

.inner-1__text {
    color: #333333;
    font-size: 55px;
    font-family: Libre Baskerville;
    font-weight: 400;
    line-height: 67px;
    word-wrap: break-word;
    position: relative;
}

.free-span,
.value-span {
    color: #dd71c6;
    padding: 0 2px;
}

.inner-1__description {
    width: 90%;
    position: relative;
    color: #333333;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
}

@media only screen and (max-width: 1480px) {
    .inner-1 {
        margin-left: 12%;
    }
    .inner-1__text {
        font-size: 45px;
        line-height: 55px;
    }
    .inner-1__description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    .inner-1 {
        gap: 20px;
    }
    .inner-1__text {
        font-size: 30px;
        line-height: 50px;
    }
    .inner-1__description {
        font-size: 18px;
    }
}

@media only screen and (max-width: 780px) {
    .inner-1 {
        margin-top: 5%;
        position: absolute;
        width: 80%;
        align-items: center;
        gap: 30px;
    }
    .inner-1__text {
        align-self: flex-start;
        width: 70%;
        font-size: 40px;
    }
    .inner-1__responsive-text {
        color: #333333;
        font-size: 20px;
    }
    .inner-1__description {
        align-self: flex-start;
        width: 65%;
    }
    .inner-2 {
        display: flex;
        width: 50%;
    }
}

@media only screen and (max-width: 440px) {
    .inner-1 {
        margin-top: 8%;
        width: 100%;
        margin-left: 0;
        gap: 25px;
    }
    .inner-1__text {
        font-size: 27px;
        line-height: 45px;
        align-self: center;
    }
    .inner-1__description {
        align-self: center;
    }
}

@media only screen and (max-width: 390px) {
    .inner-1__description {
        font-size: 17px;
    }
}

@media only screen and (max-width: 340px) {
    .inner-1__text {
        font-size: 30px;
        line-height: 45px;
    }
}
