.container-1 {
    width: 100%;
    max-width: 1920px;
    height: 760px;
    left: 0px;
    top: 0px;
    position: relative;
}

.inner-1 {
    width: 31%;
    height: 760px;
    right: 0%;
    top: 0%;
    position: absolute;
    background: var(--COLOR-YELLOW);
    border-top-left-radius: 50px;
}

.inner-2 {
    width: 28%;
    left: 22%;
    top: 27%;
    position: absolute;
}

.inner-2-text {
    color: #333333;
    font-size: 55px;
    font-family: Libre Baskerville;
    font-weight: 400;
    line-height: 67px;
    word-wrap: break-word;
}

.inner-2-text.free-span {
    color: #dd71c6;
}

.inner-2-description {
    width: 90%;
    margin-top: 10%;
    position: relative;
    color: #333333;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
}

@media only screen and (max-width: 1500px) {
    .inner-2-text {
        font-size: 45px;
        line-height: 55px;
    }
    .inner-2-description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .inner-2 {
        left: 18%;
    }
    .inner-2-text {
        font-size: 30px;
        line-height: 50px;
    }
    .inner-2-description {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
