.container {
    width: 100%;
    max-width: 1920px;
    height: 570px;
    display: flex;
    background: var(--COLOR-VIOLET);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.inner-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.inner-1__item {
    width: 15%;
    height: 70%;
    padding: 15px;
    background: var(--COLOR-WHITE);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    z-index: 1;
}

.item__logo {
    width: 55px;
    height: 55px;
    position: relative;
    margin-bottom: 15px;
}

.item__stats-container {
    display: inline-flex;
    gap: 13px;
}

.stats-container__value,
.stats-container__symbol {
    text-align: center;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 70px;
    word-wrap: break-word;
}
.stats-container__value {
    color: var(--COLOR-BLACK);
}

.stats-container__symbol {
    color: #c4c4c4;
}

.item__description {
    margin-top: 15px;
    text-align: center;
    color: var(--COLOR-BLACK);
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

@media only screen and (max-width: 1480px) {
    .inner-1__item {
        height: 50%;
    }
    .item__logo {
        width: 47px;
        height: 47px;
    }
    .item__stats-container {
        gap: 10px;
    }
    .stats-container__value,
    .stats-container__symbol {
        font-size: 35px;
        line-height: 60px;
    }
    .item__description {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1050px) {
    .inner-1 {
        gap: 20px;
    }
    .inner-1__item {
        height: 40%;
        gap: 8px;
    }
    .item__logo {
        width: 40px;
        height: 40px;
    }
    .item__stats-container {
        gap: 8px;
    }
    .stats-container__value,
    .stats-container__symbol {
        font-size: 30px;
        line-height: 50px;
    }
    .item__description {
        font-size: 16px;
    }
}

@media only screen and (max-width: 780px) {
    .inner-1__item {
        height: 45%;
        gap: 0;
    }
    .item__logo {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 440px) {
    .inner-1 {
        margin-bottom: 20%;
    }
    .inner-1__item {
        width: 37%;
        justify-content: center;
        padding: 5px;
    }
    .item__logo {
        width: 30px;
        height: 30px;
    }
    .stats-container__value,
    .stats-container__symbol {
        font-size: 25px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 390px) {
}

@media only screen and (max-width: 340px) {
    .inner-1 {
        gap: 10px;
    }
    .inner-1__item {
        width: 40%;
    }
}
