<div class="count-down-container">
    <div class="count-down">
        <div class="count-down-title">Your offer ends in:</div>
        <div class="count-down-items-container">
            <div class="count-down-item-inner-container">
                <div class="count-down-item-title-container">
                    <div class="count-down-item-title">DAYS</div>
                </div>
                <div id="days" class="count-down-item-value"></div>
            </div>
            <div class="count-down-item-inner-container">
                <div class="count-down-item-title-container">
                    <div class="count-down-item-title">HOURS</div>
                </div>
                <div id="hours" class="count-down-item-value"></div>
            </div>
            <div class="count-down-item-inner-container">
                <div class="count-down-item-title-container">
                    <div class="count-down-item-title">MINUTES</div>
                </div>
                <div id="minutes" class="count-down-item-value"></div>
            </div>
            <div class="count-down-item-inner-container">
                <div class="count-down-item-title-container">
                    <div class="count-down-item-title">SECONDS</div>
                </div>
                <div id="seconds" class="count-down-item-value"></div>
            </div>
        </div>
    </div>
</div>
