<div>
    <div
        style="
            left: 581px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        About Us
    </div>
    <div
        style="
            left: 683px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Book Online
    </div>
    <div
        style="
            left: 806px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Weight Loss Programs
    </div>
    <div
        style="
            left: 1001px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Real Patient Stories
    </div>
    <div
        style="
            left: 1174px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Locations
    </div>
    <div
        style="
            left: 1347px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Shop
    </div>
    <div
        style="
            left: 1420px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Subscription
    </div>
    <div
        style="
            left: 1278px;
            top: 39px;
            position: absolute;
            color: #333333;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 400;
            word-wrap: break-word;
        "
    >
        Blog
    </div>
</div>
