/* Global Variables */
:root {
    --COLOR-WHITE: rgb(255, 255, 255);
    --COLOR-BLACK: rgb(0, 0, 0);
    --COLOR-LIGHT-GRAY: rgba(229, 229, 229, 0.5);
    --COLOR-GRAY: rgb(127, 127, 127);
    --COLOR-DARK-GRAY: rgb(51, 51, 51);
    --COLOR-LIGHT-BLUE: rgb(0, 131, 211);
    --COLOR-YELLOW: rgb(255, 217, 0);
    --COLOR-PINK: rgb(221, 113, 198);
}
